.cardContainer {
  position: absolute;
  width: 1195px;
  height: 44%;
  left: 123px;
  top: 615px;
  border-radius: 30px;
  box-shadow: 20px 20px 20px rgba(169, 161, 161, 0.3);
}
.cardContent {
  background-color: #004aad !important;
  color: white !important;
  border-radius: 30px !important;
}
.Button {
  color: black !important;
  background-color: yellow!important;
  float: right !important;
}
.CardActions {
  float: right !important;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.TextField {
  color: white !important;
  border-color: white !important;
}
.TextField.date {
    float: right!important;}
.Input {
  color: white;
}
