.spanResult {
  position: absolute;
  width: 566px;
  height: 44px;
  left: 232px;
  top: 257px;
  font-weight: bold;
  font-size: 29px;
  line-height: 150%;
}
.resultContent {
  position: absolute;
  width: 625px;
  height: 190px;
  left: 344px;
  top: 409px;
}
.resultLeft {
  position: absolute;
  width: 267px;
  height: 558px;
  left: 60px;
  top: 331px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.spanLeft {
  position: absolute;
  width: 229px;
  height: 29px;
  left: 19px;
  top: 16px;
  font-size: 19px;
  line-height: 150%;
}
.resultNotice {
  position: absolute;
  width: 626px;
  height: 68px;
  left: 343px;
  top: 331px;

  background: #00be1e;
  border-radius: 20px;
}
.spanNotice {
  position: absolute;
  width: 388px;
  height: 21px;
  left: 132px;
  top: 23px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
